.Hero
{
    background-color: blue;
    color: white;
    padding: 24px;
    max-width: 400px;
    margin: auto;
}

body
{
    margin: 0;
}

main
{
    padding: 10px;
}

img
{
    width: 100%;
}

.odsazeni
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}